.DS_Store
pre_train_lcqald/*
predictions/
lcquad_tokenizer/*
fine-tuned_models/*
pre-trained_models/*
result_qald/*
sparql-tokenizer-trainedon_all/*
.lock
papers/*
wandb/*
datasets/
.vscode/*
**/__pycache__/*
pre-trained_models/*
*.ipynb_checkpoints/
mst5.out
mst5-venv/
archive/
