.DS_Store
pre_train_lcqald/*
pred_files/*
lcquad_tokenizer/*
fine-tuned_models/*
result_qald/*
datasets/[^\d]
datasets/no_en/*
datasets/12/*
datasets/11_linguistic/*
sparql-tokenizer-trainedon_all/*
.lock
papers/*
wandb/*
datasets/*.csv
.vscode/*
datasets/lcquad/*.csv
**/__pycache__/*
